.bg1{
    background-image: url('../pics/t11home.webp');
    height: 662px;
    width: 100%;
    /* background-position: center; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media screen  and (max-width: 740px) {
    .bg1{
        background-image: url('../pics/t11home.webp');
        height: 662px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}
.nav{
    position: fixed;
    width: 100%;
    height: 50px;
}
.teslalogo{
    height: 80px;
    width: 100px;
    /* color: black; */
}

@media screen and(max-width: 740px) {
    .teslalogo{
        height: 20px;
        width: 10px;
        /* color: black; */
    }
    .t1{
        margin-top: 100px;
        margin-left: 2px;
    }

    .button1{
        margin-left: 20px;

    }
}

.model{
    margin-left: 250px;
}

.bg2{
    background-image: url(../pics/t2home.jpg);
    /* background-position: 100% 100%; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 662px;
}
.bg3{
    background-image: url(../pics/t3home.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 662px
}
.bg4{
    background-image: url(../pics/t4home.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 662px 
}

.bg5{
    background-image: url(../pics/t5home.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 662px
}

.bg6{
    background-image: url(../pics/t6home.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 665px
}

.bg7{
    background-image: url(../pics/t7home.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 662px
}
.shop{
    margin-left: 180px;
}

.model3{
    padding-top: 105px;
    /* padding-left: 00px; */
}

.p1{
    padding-top:320px;
    padding-left: 400px;
}

.btn1{
    /* height: 40px; */
    width: 250px;
    background-color: black;
}

.btn2{
    /* height: 40px; */
    width: 250px;
    background-color: white;
}

.modelY{
    padding-top: 105px;
    /* padding-left: 00px; */
}

.modelS{
    padding-top: 105px;
    /* padding-left: 00px; */
}
.modelX{
    padding-top: 105px;
    /* padding-left: 00px; */
}
.solarPanels{
    padding-top: 105px;
    /* padding-left: 00px; */
}

.solarRoof{
    padding-top: 105px;
    /* padding-left: 00px; */
}

.accessories{
    padding-top: 105px;
    /* padding-left: 00px; */
}